.shoe-collection {
    @apply flex flex-col bg-[#f2f2f2]  h-[100%] w-[100%] mb-[5px] rounded-[25px];
    margin-top: 2rem;
    

}
.new{
    @apply p-5;
    font-size: 0.7rem;
    font-weight: 200;
} 
.both{
    @apply flex  justify-between px-5;
    font-size: 0.8rem;
    font-weight: 200;
    padding-bottom: 0.5rem;
    color: #b8b8b8;
}
.titled{
    
}


